[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
bandit = "*"

[packages]
pyyaml = "*"
kubernetes = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
